name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build, Push and Deploy to Heroku #set the whatever name you want to this step
        id: heroku
        uses: snithyanantham/docker-compose-multiple-apps-heroku-deploy@v1.0  # use the latest version of the action
        with:
          email: ${{ secrets.HEROKU_EMAIL }} # your heroku email
          api_key: ${{ secrets.HEROKU_API_KEY }} # your  heroku api key
          docker_compose_file: './src/docker-compose.heroku.yml' # set the path to the folder where the docker-compose file is located
          heroku_apps: '[{"imagename":"nginx","appname":"nginx","apptype":"web"},{"imagename":"mealfrontend","appname":"frontend","apptype":"web"},{"imagename":"mealbackend","appname":"backend","apptype":"worker"}ï¼Œ{"imagename":"postgres","appname":"db","apptype":"worker"}]' # List of Docker Image name, Heroku app and Heroku app type
